* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


header {
    width: 100%;
    height: 80px;
}

header .header-content {
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .header-content .header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

#home {
    height: 80px;
    margin: 0 auto;
    align-items: center;
}

.home-left {
    display: flex;
    flex-direction: column;
    
}

.home1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;]
}

.left {
    display: grid;
    grid-template-columns: 1fr;
}

.rigth {
    display: grid;
    grid-template-columns: 1fr;
}

