* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
    line-height: 1.5;
}

.topo {
    display: flex;
    height: 100vh;
    position: relative;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    padding-left: 20px;
}

#topoesquerdo {
    position: absolute;
    right: 0;
    align-items: center;
}