* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


header {
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
}

header .header-content {
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .header-content .header-right {
    display: flex;
    align-items: center;
    gap: 8px;
}



/*HOME*/


#home {
    width: 100vw;
    height: 100vh;
    background: url('./img/bg.jpg') no-repeat center center;
    background-size: cover;
}

#home .home-content {
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
}

.home-left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


/* .home1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
}

.left {
    display: grid;
    grid-template-columns: 1fr;
}

.rigth {
    display: grid;
    grid-template-columns: 1fr;
} */